@font-face {
    font-family: 'Inter Bold';
    src: url('../assets/fonts/Inter-Bold.otf');
}

@font-face {
    font-family: 'Akzidenz Grotesk Bold';
    src: url('../assets/fonts/AGNextBold.otf');
}

@font-face {
    font-family: 'Akzidenz Grotesk Italic';
    src: url('../assets/fonts/AGNextIta.otf');
}

body {
    margin: 0;
    background-color: #faf6eb;
}

.web-container {
    display: flex;
    flex-direction: column;
    font-family: 'Inter Bold';
    // font-family: 'Akzidenz Grotesk Bold';
}

.main-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    // font-family: 'Akzidenz Grotesk Bold';
}

.main-title {
    font-size: 6rem;
    color: rgb(255, 189, 34);
    // font-family: 'Akzidenz Grotesk Bold';

    @media screen and (max-width: 768px) {
        font-size: 4rem;
    }
}

.main-subtitle {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(253, 95, 98);
}

.subtitle {
    font-size: 1.5rem;
    margin: 0 0.5rem 0 0.5rem;
    font-family: 'Akzidenz Grotesk Italic';

    @media screen and (max-width: 768px) {
        font-size: 1.25rem;
    }
}

.projects-section {
    margin-top: 2rem;
    font-family: 'Inter Bold';
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 30vw;
    margin-bottom: 1.5rem;
    width: 40vw;
}

// .project-title {
//     font-size: 4rem;
//     color: #005796e3;
//     text-align: center;
//     font-family: 'Akzidenz Grotesk Bold';
// }

.project-subtitle {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    font-family: 'Akzidenz Grotesk Italic';
    font-size: 1.5rem;
    margin: 0;

    li {
        margin-left: 1rem;
        color: #024870e3;
    }
}

.project-title,
.main-title {
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke: 2px #9b7200;
    text-transform: uppercase;
    position: absolute;
    white-space: nowrap;
    text-decoration: none;
}

.project-title-shadow,
.main-title-shadow {
    font-size: 4rem;
    color: #ffe13a;
    text-transform: uppercase;
    position: relative;
    top: 3px;
    left: -4px;
    z-index: -1;
    white-space: nowrap;
}

.section-underline {
    border-bottom: 2px solid red;
}

.project-title { -webkit-text-stroke: 2px #843405; }
.project-title-shadow { color: #ff926d; }